.footer {
  background-image: linear-gradient(
    to right,
    rgb(12, 12, 12),
    rgb(104, 100, 100),
    rgb(110, 106, 106),
    rgb(12, 12, 12)
  );

  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

.socials {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.socials h4 {
  margin: 0;
}
.socials a {
  cursor: pointer;
}

.icons-contanier {
  display: flex;
  gap: 10px;
}
